/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}